body {
  display: flex;
  font-family: "Montserrat";
  font-weight: 500;
}
#Smart {
  color: var(--text-color);
  font-weight: bold;
}
#POS {
  color: red;
  font-weight: bold;
}

nav {
  display: flex;
  background-color: rgb(253, 253, 253);
  width: 25%;
  flex-direction: column;
  height: 100vh;
  gap: 0.1rem;
  padding-left: 3rem;
  position: sticky;
  top: 0;
  left: 0;
  padding-right: 3rem;
  justify-content: space-between;
}

.notifications {
  background: yellow;
  padding: 1vh;
  border-radius: 50%;
}

.selected {
  background: orange;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 1.25rem;
}
.menu {
  display: flex;
  align-content: center;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

.menu > ul > li > a > span {
  color: var(--text-color);
}

li {
  padding: 0.7125rem;
  border-radius: 1.5625rem;
}

.gray {
  color: var(--color-2);
}

a {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.625rem;
}

.other > {
  display: flex;
  align-content: center;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
.other > span {
  margin-left: 0.75rem;
}

.uzytkownik {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  padding: 0.3125rem;
  border-radius: 25px;
  gap: 0.6125rem;
  margin-top: 23vh;
}

.openprofile {
  padding: 0.3125rem;
  background: rgb(234, 234, 234);
  border-radius: 25px;
  width: 100%;
}

.uzytkownik > img {
  width: 3rem;
  border-radius: 50%;
}

@media only screen and (max-width: 1300px) {
  nav {
    width: 25vw;
    padding: 0;
  }
  .logo {
    padding: 1rem;
  }
  .menu,
  .other {
    margin: 0 auto;
    width: 80%;
    padding: 0;
  }
  .uzytkownik {
    display: none;
  }
  .waga {
    display: none;
  }
}
